:root
  --black: #1E1E1E
  --white: #fff

  --graphite: #2E2E2E
  --grey: #D9D9D9
  --grey-hover: #8D8D8D
  --dark-grey: #999
  --light-grey: #EDEDED

  --purple:#8638EA
  --blue-purple:#7964F5

  --blue: #4454E4
  --lite-blue:#649EF5

  --pink:#F564EF
  --green: #81F564