@import 'ui.sass'
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')

// добавление кастомного скролбара, работает только в chrome(также браузеры основанные на движке chromium, например яндекс) & safari
*
  box-sizing: border-box
  font-family: Montserrat
  font-weight: 600
  &::-webkit-scrollbar
    height: 12px
    width: 6px
    padding: 4px
    &:hover
      height: 10px
  &::-webkit-scrollbar-track
    background-color: var(--white)
  &::-webkit-scrollbar-thumb
    background-color: var(--blue-purple)
    border-radius: 32px
    &:horizontal
      border: 2px solid var(--white)
      &:hover
        border: none

body
  margin: 0
  min-height: 100vh
  scrollbar-width: thin
  scrollbar-color: var(--red-text)

#app
  margin: 0 auto
  height: 100vh
